* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

body:not(h1) {
  color: #000000;
}

header {
  width: 100%;
  height: 94px;
  background-color: #000000;
  position: relative;
}
h1 {
  width: 70px;
  height: 70px;
  background-image: url(../img/music-note.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -999999px;
  float: left;
  margin: 12px 100px;
}

h1 a {
  display: block;
  width: 70px;
  height: 70px;
}

header nav {
  height: 94px;
  width: 70%;
  position: relative;
  margin-left: 338px;
}

header ul {
  position: absolute;
  top: 40%;
}

header li {
  margin-left: 20px;
  float: left;
}
header a {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding: 5px 10px;
  text-transform: uppercase;
}

header nav {
  text-align: center;
}

main {
  margin: auto;
  width: 100%;
  margin-bottom: 100px;
}

.today-hits {
  margin: auto;
  width: 1176px;
  height: 350px;
  margin-top: 50px;
}

.latest-hits {
  margin: auto;
  width: 1176px;
  height: 966px;
  margin-top: 22px;
}

.fb a,
.ins a {
  display: block;
  width: 50px;
  height: 50px;
}

.fb,
.ins {
  right: 0;
  position: fixed;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.fb {
  top: 214px;
  background-image: url(../img/fb.png);
}

.ins {
  top: 264px;
  background-image: url(../img/instagram.png);
}
.musContainer {
  margin-top: 50px;
}

.musbox {
  height: 270px;
  width: 300px;
  float: left;
}

.musbox:nth-child(2) {
  margin-right: 138px;
  margin-left: 138px;
}

.track {
  border: 1px solid #000000;
  width: 100%;
  height: 244px;
  position: relative;
}

.wave {
  height: 65px;
  width: 290px;
  background-image: url(../img/sound.png);
  background-repeat: space;
  background-size: 65px 65px;
  margin-top: 67px;
  margin-bottom: 24px;
  margin-left: 4px;
}

main h3 {
  margin-left: 12px;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 21px;
}

main h4 {
  margin-left: 12px;
  font-size: 14px;
  line-height: 16px;
}

main a {
  color: #000000;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
}

.like {
  width: 50px;
  height: 50px;
  background-image: url(../img/like.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  position: absolute;
  right: 0;
  top: -3px;
}

.Container {
  width: 100%;
  height: 916px;
}

.margin {
  margin-left: 138px;
  margin-right: 138px;
}

.lineone {
  height: 270px;
  margin-top: 22px;
}

.linetwo {
  height: 270px;
  margin: 50px 0;
}

/* footer */

footer {
  clear: both;
  padding-top: 26px;
  position: relative;
  width: 100%;
  height: 354px;
  background-color: #000000;
}

.footerlogo {
  margin: auto;
  width: 150px;
  height: 150px;
  background-image: url(../img/music-note.png);
  background-size: cover;
}

footer nav {
  margin-top: 26px;
  text-align: center;
}

footer a {
  position: relative;
  font-size: 18px;
  color: #ffffff;
}

footer h4 {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  margin-top: 44px;
  margin-bottom: 17px;
}

/* playlist  */

.playlist {
  height: 1507px;
  width: 86%;
  margin: auto;
}

.playlist-one {
  float: left;
  margin-right: 158px;
}

.playlist-two {
  margin-top: 50px;
}

.playlist h2 {
  margin-bottom: 50px;
}

.playlist h3 {
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.list-wave {
  clear: both;
  width: 300px;
  height: 258px;
  margin: auto;
  margin-top: 100px;
  /* margin-left: 560px; */
}

.playlist-x {
  float: left;
}

.left {
  float: left;
  margin-left: 44px;
}

.more-playlist {
  height: 364px;
}

.last-wave {
  height: 10px;
  margin: auto;
  margin-bottom: 260px;
  margin-top: 130px;
}

.playlist h5 {
  /* margin-top: 110px; */
  margin: auto;
  width: 343px;
  height: 42px;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
